<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change</title>
</head>
<body>
<form th:method="POST" th:action="@{/change/{id}(id=${user.id})}" th:object="${user}">
    <label for="name">Name</label>
    <input type="text" th:field="*{username}" id="name">
    <br/>
    <label for="pass">Password</label>
    <input type="text" th:field="*{password}" id="pass">
    <br/>
    <p>
        <label>Roles:
            <input type="checkbox" name="list"
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:checked="${user.roles.contains(role)} ? 'cheked'"
            />
        </label>
    </p>
    <input type="submit" value="Change"/>
</form>
</body>
</html>